apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: __PROMETHEUS_URL__
    isDefault: true
    jsonData:
      timeInterval: 30s
  - name: Tempo
    type: tempo
    access: proxy
    url: __TEMPO_URL__
    jsonData:
      nodeGraph:
        enabled: true
      search:
        hide: false